@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  background-color: rgb(240, 216, 0);
  padding: 10px;
  margin-top: auto;
}
footer .logo-footer {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}
footer .contenedor-social-link {
  display: flex;
  gap: 40px;
}
footer .contenedor-social-link .social-icon img {
  width: 30px;
  height: auto;
}
footer .copyright-text {
  font-size: 12px;
}

main {
  width: 100%;
}
main .titulos, main body .titulo-vinilos, body main .titulo-vinilos {
  margin-top: 40px;
  text-align: center;
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
main .carousel-inner {
  max-height: 700px;
}
main .container-fluid .carousel-item {
  width: 60%;
}
main #carouselExampleInterval {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-height: 200px;
}
main #carouselExampleInterval #ultimos-lanzamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-height: 200px;
}

.titulo-consigue-lo-ultimo {
  margin-top: 60px;
  text-align: center;
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.contenedor-tarjetas-front {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-tarjetas-front .card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
}

.container {
  width: 100%;
  border-bottom: 3px solid rgb(162, 0, 255);
}

body .titulo-vinilos {
  margin-top: 40px;
  text-align: center;
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
body .contenedor-vinilos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
body .contenedor-vinilos .card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  max-width: 100%;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}
body .contenedor-vinilos .card .texto-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.banner-publicidad-vinilo {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 85, 24);
  width: 100%;
  margin-bottom: 20px;
}
.banner-publicidad-vinilo .texto-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.banner-moda {
  width: 100%;
}

.contenedor-banner-moda,
.contenedor-banner-moda2 {
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.contenedor-banner-moda .foto-banner,
.contenedor-banner-moda .foto-banner2,
.contenedor-banner-moda2 .foto-banner,
.contenedor-banner-moda2 .foto-banner2 {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.contenedor-banner-moda .foto-banner img,
.contenedor-banner-moda .foto-banner2 img,
.contenedor-banner-moda2 .foto-banner img,
.contenedor-banner-moda2 .foto-banner2 img {
  max-width: 100%;
  height: auto;
}

.contenedor-banner-moda2 .foto-banner2 {
  width: 50%;
}
.contenedor-banner-moda2 .texto-banner2 {
  max-width: 500px;
  text-align: right;
  margin: 1px 60px 60px 60px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .banner-moda {
    display: none;
  }
}
.contenedor-merchandising {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.contenedor-merchandising .card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  max-width: 100%;
  width: calc(33.33% - 20px);
}
.contenedor-merchandising .card .texto-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.slide-exclusivos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 100%;
  max-height: 100%;
}
.slide-exclusivos #carouselExampleControls {
  width: 750px;
  height: 320px;
}
.slide-exclusivos #carouselExampleControls h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.slide-exclusivos #carouselExampleControls h1 .parrafo-exclusivos {
  max-width: 150px;
}
.slide-exclusivos #carouselExampleControls .carousel-inner .carousel-item img {
  max-width: 100%;
  height: auto;
}

.cartas-exclusivos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 250px;
}
.cartas-exclusivos .parrafo-exclusivos {
  max-width: 150px;
  text-align: center;
  background-color: red;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: center;
  max-width: 100%;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
