.banner-moda {
    width: 100%;
}

.contenedor-banner-moda,
.contenedor-banner-moda2 {
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    .foto-banner,
    .foto-banner2 {
        display: flex;
        width: 50%;
        height: auto;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.contenedor-banner-moda2 {
    .foto-banner2 {
        width: 50%;
    }

    .texto-banner2 {
        max-width: 500px;
        text-align: right;
        margin: 1px 60px 60px 60px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 60px;
        text-transform: uppercase;
    }
}
@media (max-width: 767px) {
    .banner-moda {
        display: none;
    }
}