#contenedor-cartas-index{
    h2{
        text-align: center;
        color: red;
    }
    .contenedor-front{
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        .contenedor-tarjetas-front{
        display: flex;
        flex-wrap: wrap;
        }
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        justify-content: center;
    }
}