$color:red;
$size-h2: 250px;

main{
h2{
    text-align: center;
    font-size: 200px;
    color: $color;
    font-size: $size-h2;
}
.carousel-inner{
    max-height: 200px;
}
.container-fluid{
    .carousel-item{
        width: 60%;
        max-height: 200px;
        display: flex;
        justify-content: center;
    }
    
}    
#carouselExampleInterval{
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        width: 50%;
        max-height: 200px;
//no puedo centrar este contenido, perdi mucho tiempo intentandolo

    #ultimos-lanzamientos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        max-height: 200px;
        }
    }
}