$color:red;

main
h2{
    text-align: center;
    font-size: 15px;
    color: $color;
}
.container-fluid{
    display: flex;
    justify-content: center;
}    
#carouselExampleInterval{
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        width: 50%;
//no puedo centrar este contenido, perdi mucho tiempo intentandolo

    #ultimos-lanzamientos{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    }