$color-principal: rgb(162, 0, 255);
$size-h2: 30px;

#titulo-exclusivos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 700;
    margin: 20px;
}
.cartas-exclusivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 250px;
    .parrafo-exclusivos{
        max-width: 150px;
        display: flex;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 20px;
        background-color: $color-principal;
        margin-left: 20px;
        flex-wrap: wrap;
}
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        justify-content: center;
        max-width: 100%;  
        width: calc(33.33% - 20px);  
        margin-bottom: 20px;
    }
    .caja-video {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 50px;
    }